<template>
  <div>
    <Players />
  </div>
</template>

<script>
// @ is an alias to /src
import Players from '@/components/Players.vue'

export default {
  components: {
    Players
  }
}
</script>
