@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk&display=swap');


#app {
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  #nav {
    margin-bottom: 4rem;
  }

  #nav a {
    font-weight: bold;
    font-size: 20px;
    color: #2c3e50;
  }
  
  #nav a.router-link-exact-active {
    color: #4782e9;
  }